<h1>Log In</h1>

<form action= <%= session_url %> method="post">
  <%= render "shared/auth" %>
  <label for="email">Email: </label>
  <input type="text" name="user[email]" value="" id="email">
  <br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]" value="" id="password">
  <br>
  <input type="submit" value="Submit">
</form>
