
<p><%= button_to("Add band to database", new_band_url, method: :get) %><p>
<p><%= button_to("Add album to database", new_album_url, method: :get) %></p>
<p><%= button_to("Add track to database", new_track_url, method: :get) %></p>
<ul>
  <% @bands.each do |band| %>
    <li><%= link_to(band.name, band_url(band), method: :get) %></li>
  <% end %>
</ul>
